@import 'bootstrap/dist/css/bootstrap';
@import 'font-awesome';

.rowver1 {
  width: 100%;
}

.rowver2 {
  width: 100%;
  margin: 0;
}

.left-sidebar {
  position: fixed;
  width: 25%;
  border-right: thin solid #EAE8E8;
  height: 100%;
  margin-right: 0;
  box-sizing: border-box;
}

.application-left {
  padding-right: 0;
  padding-left: 0;
  height: 518px;
}

.application-center {
  padding-left: 0;
  padding-right: 0;
}

.contens {
  list-style-type: none ;
  font-weight: bold;
  font-size: 150%;
  padding-left: 100px;
}

.component {
  padding-top: 20px;
}

#home {
  color: #00acee;
}

.twitter {
  color: #00acee;
  font-size: 1.5em;
}

.component .icon {
  margin-right: 15px;
  font-size: 1.2em;
}

.form-all {
  padding-right: 80px;
}

.form-contents {
  list-style-type: none ;
}

.form-all .twitter {
  color: #00acee;
  font-size: 2.5em;
  margin-top: 20px;
}

.form-contents {
  margin-top: 30px;
}

.form-contents li {
  margin-top: 25px;
}

.form-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: thin solid #000;
  background-color: #EFF5FB;
  width: 450px;
  height: 45px;
  border-radius: 5px 5px 3px 3px;
}

.form-submit {
  width: 450px;
  height: 45px;
  border-radius: 20px;
  background-color: #00acee;
  color: #fff;
  font-size: 1.1em;
}

.home {
  color: #00acee;
}

.component-tweetbutton {
  margin-top: 30px;
}

.tweet-button {
  color: #fff;
  background-color: #00acee;
  border-radius: 30px;
  padding: 13px 70px;
  font-size: 0.7em;
}

.tweet-all {
  padding-right: 100px;
}

.tweet-form {
  list-style-type: none ;
  margin-top: 30px;
}

.tweet-all .twitter {
  font-size: 2.5em;
  margin-top: 30px;
}

.tweet-content {
  width: 500px;
  height: 200px;
  padding-left: 10px;
  border-radius: 5px;
}

.tweet-submit {
  margin-left: 370px;
  margin-top: 20px;
  width: 140px;
  height: 45px;
  background-color: #00acee;
  color: #fff;
  border-radius: 25px;
  font-size: 1.1em;
}

.right-sidebar {
  position: fixed;
  width: 400px;
  border-left: thin solid #EAE8E8;
  height: 100%;
  padding-right: 0px;
  margin-left: 0;
  box-sizing: border-box;
}

.index-tweet-home {
  margin-top: 10px;
  margin-left: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: thin solid #EAE8E8;
  width: 100%;
}

.index-right {
  padding-left: 0;
  padding-right: 0;
}

.index-center {
  padding-right: 0;
  padding-left: 0;
}

.index-tweet-content-component {
  border: none;
  width: 530px;
  height: 50px;
}

.index-tweet-form {
  list-style-type: none ;
  padding-top: 20px;
  padding-left: 15px;
}

.index-tweet-form .twitter {
  font-size: 2em;
  padding-right: 15px;
}

.index-tweet-submit {
  background-color: #00acee;
  color: #fff;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 1.1em;
  margin-left: 480px;
  width: 90px;
  height: 40px;
  font-size: 0.9em;
  font-weight: bold;
}

.index-tweet {
  border-bottom: thin solid #EAE8E8;
}

.tweet-element {
  border-bottom: thin solid #EAE8E8;
  padding: 20px 20px;
}

.inline {
  padding-top: 7px;
  background-color: #EAE8E8;
}

.followtab {
  background-color: #fff;
  border: thin solid #00acee;
  color: #00acee;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
  float: right;
}

.unfollowtab {
  background-color: #00acee;
  border: thin solid #00acee;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
  float: right;
}

.profilepic {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
}

.tweet-element-right {
  float: left;
  width: calc(100% - 60px);
  margin-left: 10px;
}

.tweet-username {
  font-weight: bold;
}

.tweet-series {
  display: inline-block;
}

.floatend {
  clear: both;
}

.form-input-file {
  border-radius: 5px;
}

.editbutton {
  background-color: #fff;
  border: thin solid #00acee;
  color: #00acee;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 20px;
  float: right;
}