@import 'bootstrap/dist/css/bootstrap';
@import 'font-awesome';

.sidebar {
  position: fixed;
  width: 350px;
  border-right: thin solid #EAE8E8;
  height: 100%;
  padding-left: 80px;
  margin-right: 0;
  box-sizing: border-box;
}

.contens {
  list-style-type: none ;
  font-weight: bold;
  font-size: 150%;
  
}

.component {
  padding-top: 20px;
}

#home {
  color: #00acee;
}

.twitter {
  color: #00acee;
  font-size: 1.5em;
}

.component .icon {
  margin-right: 15px;
  font-size: 1.2em;
}

.form-contents {
  list-style-type: none ;
}

.form-all .twitter {
  color: #00acee;
  font-size: 2.5em;
  margin-top: 20px;
}

.form-contents {
  margin-top: 30px;
}

.form-contents li {
  margin-top: 25px;
}

.form-input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: thin solid #000;
  background-color: #EFF5FB;
  width: 450px;
  height: 45px;
  border-radius: 5px 5px 3px 3px;
}

.form-submit {
  width: 450px;
  height: 45px;
  border-radius: 20px;
  background-color: #00acee;
  color: #fff;
  font-size: 1.1em;
}