<ul class="contens">
  <li class="component">
    <i class="fa fa-twitter twitter" aria-hidden="true"></i>
  </li>
  <li class="component" id="home">
    <i class="fa fa-home icon" aria-hidden="true"></i>
    Home
  </li>
  <li class="component">
    <i class="fa fa-sign-in icon" aria-hidden="true"></i>
    Log in
  </li>
  <li class="component">
    <i class="fa fa-user-plus icon" aria-hidden="true"></i>
    <%= link_to 'Sign up', new_user_path, class: 'text-dark' %>
    </li>
</ul>